$purple: #5f4b8b;


.theme--light {
  &.v-application {
    background: #fff !important;
  }

  &.v-footer .v-card {
    background: $purple
  }
}

.v-footer {
  .theme--light {
    &.v-divider, &.v-btn.v-btn--icon {
      color: #fff !important;
      border-color: #fff !important;
    }

    &.v-divider {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

header, footer {
  .theme--light {
    &.v-btn, &.v-card .v-card__text {
      color: #fff;
    }
  }
}

.link {
  position: relative;
  text-decoration: none;
}

.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $purple;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

